:root{
    --water-blue: #68ceed
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("https://78.media.tumblr.com/5290f8bc770ff92d6e64f978484e2a0d/tumblr_ojgoc9jPtX1tqfxrto1_500.gif");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.container{
    padding-top: 200px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: rgb(27, 27, 83);
}
#start{
    margin-top: 250px;
    padding:20px;
    background-color: var(--water-blue);
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: #fff;
    border-radius: 15px;
    border: 1px solid #fff;
    cursor: pointer;
}

#start:hover{
    background-color: transparent;
    border: 1px solid var(--water-blue);
    color: var(--water-blue);
}

canvas{
    border: 1px solid white;
    background-color: rgba(0,0,0,0.2);
}

.noShow{
    display: none;
}

.run {
    position: absolute;
    top: 0%;
    left: 80%;
    background: url(../images/orca_sequence_small.png);
    overflow: hidden;
    width: calc(892px / 2);
    height: 293px;
    animation: run 1s steps(2) infinite, move 10s linear infinite;
}

@keyframes run {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -892px;
    }
}
/*To add x axis movement:*/
@keyframes move {
    0% {
        transform: translateX(-2500px);
    }
    100% {
        transform: translateX(892px);
    }
}