:root{
    --water-blue: #68ceed
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Ranchers', cursive;
    box-sizing: border-box;
}

body{
    background-image: url("https://78.media.tumblr.com/5290f8bc770ff92d6e64f978484e2a0d/tumblr_ojgoc9jPtX1tqfxrto1_500.gif");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 100px;
    color: rgb(1, 1, 7);
}
h2 {
    font-size: 70px;
    color: black;
}
span {
    color: white;
}
button{
    margin-top: 180px;
    padding:20px;
    background-color: var(--water-blue);
    font-size: 80px;
    color: #fff;
    border-radius: 15px;
    border: 1px solid #fff;
    cursor: pointer;
}

button:hover{
    background-color: white;
    border: 1px solid var(--water-blue);
    color: var(--water-blue);
}
span > h2 {
margin: 150px auto 50px;
}
.keys {
    display: flex;
    align-items:center;

}
.arrows {
    width: 300px;
}
.space {
    width: 400px;
    margin-left: 150px;
}
.win-game {
    width: 50vw;
    height: 55vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(239, 241, 248);
    font-size: 100px;
    -webkit-text-stroke: 2px rgb(9, 10, 10);
    background-color: rgba(140,214,233, 0.9);
    border: 1px solid black;
}
.win-game img {
    width: 1000px;
    height: 700px;
}
.end-game{
    width: 50vw;
    height: 55vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(239, 241, 248);
    font-size: 100px;
    -webkit-text-stroke: 2px rgb(9, 10, 10);
    background-color: rgba(140,214,233, 0.9);
    border: 1px solid black;
}

.end-game img {
    width: 900px;
    height: 800px;
}

canvas{
    margin-top: 100px;
    border: 1px solid white;
    background-color: rgba(0,0,0,0.2);
}

.displayNo{
    display: none;
}

/*.run {
    position: absolute;
    top: 0%;
    left: 80%;
    background: url(../images/orca_sequence_small.png);
    overflow: hidden;
    width: calc(959px / 2);
    height: 273px;
    animation: run 1s steps(2) infinite, move 10s linear infinite;
}

@keyframes run {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -959px;
    }
}
To add x axis movement:
@keyframes move {
    0% {
        transform: translateX(-2000px);
    }
    100% {
        transform: translateX(100px);
    }
}*/